@page
@model PowerHouse.Pages.CjenikModel
@{
}
@*<div class="text-center">
    <img src="/images/ph_cjenik_1_24.png" alt="Powerhouse Logo" class="responsive-image">
</div>*@

<div class="text-center">
    <img src="/images/Cjenik025.png" alt="Powerhouse Logo" class="responsive-image">
</div>