@page
@model PowerHouse.Pages.ImageIndexModel
@{


      <form method="post" enctype="multipart/form-data" asp-controller="Image" asp-action="Upload">
        <input type="file" name="imageFile" accept="image/*" />
        <button type="submit">Upload Image</button>
    </form>

    @foreach (var image in Model.ImagesModel)
    {
        <img src="~/images/@image.FileName" alt="Blog Image">
    }


}
