@page
@model PowerHouse.Pages.ZaposleniciModel
@{
    ViewData["Title"] = "O nama";

}
<body>
    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <div class="container text-center py-3">
            <h1 class="display-2 text-white mb-4 animated slideInDown">O nama</h1>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- About Start -->
    <div class="container-fluid py-2">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay=".3s">
                    <div class="about-img">
                        <div class="rotate-left bg-dark"></div>
                        <div class="rotate-right bg-dark"></div>
                        <img src="~/images/innline/innline.1-0058.jpg" class="img-fluid h-100" alt="img">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay=".6s">
                    <div class="about-item overflow-hidden">
                        <h5 class="mb-2 px-3 py-1 text-dark rounded-pill d-inline-block border border-2 border-primary">NAŠA PRIČA</h5>
                        <h1 class="display-5 mb-2"></h1>
                        <p class="fs-5" style="text-align: justify;">
                            Ova projekt je pokrenut s ciljem unaprjeđenja zdravlja, temeljen na važnosti zdravog načina života i dobrobiti za ljudsko tijelo.
                            Naš jedinstveni fitness te iskusni stručnjaci koji su vam na raspolaganju nude više vrsta treninga te mnoštvo drugih usluga,
                            sve na jednom mjestu.
                        </p>
                        @* <button type="button" class="btn btn-primary border-0 rounded-pill px-4 py-3 mt-5">Find Services</button>*@
                    </div>
                </div>
            </div>
            <br /><br />
            <! ––drugi-->
            <div class="row g-5">
                <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay=".3s">
                    <div class="about-img">
                        <div class="rotate-left bg-dark"></div>
                        <div class="rotate-right bg-dark"></div>
                        <img src="~/images/innline/IMG_04381-resized.jpg" class="img-fluid h-100" alt="img">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay=".6s">
                    <div class="about-item overflow-hidden">
                        <h5 class="mb-2 px-3 py-1 text-dark rounded-pill d-inline-block border border-2 border-primary">NAŠA VIZIJA</h5>
                        <h1 class="display-5 mb-2"> </h1>
                        <p class="fs-5" style="text-align: justify;">

                            Postati prvoklasni centar za treninge, potičući revolucionarne transformacije u tjelesnom oblikovanju i zdravom životnom stilu.
                            Potaknuti vidljive rezultate, unapređujući vitalnost i samopouzdanje naših klijenata.

                        </p>
                        @* <button type="button" class="btn btn-primary border-0 rounded-pill px-4 py-3 mt-5">Find Services</button>*@
                    </div>
                </div>
            </div>
            <br /><br />
            <! ––treci-->
            <div class="row g-5">
                <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay=".3s">
                    <div class="about-img">
                        <div class="rotate-left bg-dark"></div>
                        <div class="rotate-right bg-dark"></div>
                        <img src="~/images/innline/IMG_043118-resized.jpg" class="img-fluid h-100" alt="img">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay=".6s">
                    <div class="about-item overflow-hidden">
                        <h5 class="mb-2 px-3 py-1 text-dark rounded-pill d-inline-block border border-2 border-primary">CILJ</h5>
                        <h1 class="display-5 mb-2"> </h1>
                        <p class="fs-5" style="text-align: justify;">
                            Naš cilj je prilično jednostavan. Želimo pružiti najbolje usluge uz stručno osoblje.
                            Ostvariti 100% zadovoljstvo klijenata kroz inovativne programe, gradeći zajednicu posvećenu ostvarivanju vrhunskih fitness ciljeva.
                        </p>
                        @* <button type="button" class="btn btn-primary border-0 rounded-pill px-4 py-3 mt-5">Find Services</button>*@
                    </div>
                </div>
            </div>

        </div>
    </div>




</body>