<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keywords" content="">

    <title> Power House @ViewData["Title"]</title>
    <link rel="icon" type="images/x-icon" href="/images/logo_powerhouse-removed.png" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/PestKit-1.0.0/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/PestKit-1.0.0/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/PestKit-1.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/PestKit-1.0.0/css/style.css" rel="stylesheet" />

    @*Custom Styles*@
    <link href="~/customstyle/customstyle.css" rel="stylesheet" />

</head>
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->
   
    <!-- Navbar Start -->
    <div class="container-fluid bg-dark">
        <div class="container">
            <nav class="navbar navbar-dark navbar-expand-lg py-lg-0">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="/images/logo_powerhouse-removed-white.png" alt="Powerhouse Logo" class="img-fluid navbar-logo">
                    PowerHouse
                </a>
                <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-dark"></span>
                </button>
                <div class="collapse navbar-collapse me-n3" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-item nav-link active" asp-area="" asp-page="/Onama">O nama</a>
                        <a class="nav-item nav-link active" asp-area="" asp-page="/KakoDoNas">Kako do nas</a>
                        <a class="nav-item nav-link active" asp-area="" asp-page="/Kontakt">Kontakt</a>
                        <a class="nav-item nav-link active" asp-area="" asp-page="/Cjenik">Cjenik</a>                        
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    @RenderBody()


    @*<footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - PowerHouse - <a asp-area="" asp-page="/"></a>
    <a href="mailto: info@power-house.hr" style="font-size=40px">info@power-house.hr</a>
    </div>
    </footer>*@


    <!-- Copyright Start -->
    <div class="container-fluid copyright bg-dark py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
                    &copy; 2024 - PowerHouse - <a asp-area="" asp-page="/"></a>
                    <a href="mailto: info@power-house.hr" style="font-size=40px">info@power-house.hr</a>
                </div>
                <div class="col-md-4 copyright-btn text-center text-md-start mb-3 mb-md-0 flex-shrink-0">
                    <a class="btn btn-primary rounded-circle me-3 copyright-icon" href="https://wa.me/+385993033476" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a class="btn btn-primary rounded-circle me-3 copyright-icon" href="https://www.facebook.com/ems.kastela" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-primary rounded-circle me-3 copyright-icon" href="https://www.instagram.com/power_house.fitness" target="_blank"><i class="fab fa-instagram"></i></a>
                    @*   <a class="btn btn-primary rounded-circle me-3 copyright-icon" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-primary rounded-circle me-3 copyright-icon" href=""><i class="fab fa-linkedin-in"></i></a>*@
                </div>
                <div class="col-md-4 my-auto text-center text-md-end text-white">
                    <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                    <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                    <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a><br>Distributed By <a class="border-bottom" href="https://themewagon.com">ThemeWagon</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/PestKit-1.0.0/lib/wow/wow.min.js"></script>
    <script src="~/PestKit-1.0.0/lib/easing/easing.min.js"></script>
    <script src="~/PestKit-1.0.0/lib/waypoints/waypoints.min.js"></script>
    <script src="~/PestKit-1.0.0/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/PestKit-1.0.0/js/main.js"></script>



    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>



