
    <a href="https://wa.me/+385993033476" style="margin-bottom: 10px;" target="_blank">
    <img src="~/images/social/digital_glyph_green.png" alt="Whatsapp" class="s-logo" />
        @*<div>WhatsApp</div>*@
    </a>
    <a href="https://www.facebook.com/ems.kastela" style="margin-bottom: 10px;" target="_blank">
        <img src="~/images/social/facebook_logo_primary.png" alt="Facebook" class="s-logo" />
        @*<div>/ems.kastela</div>*@
    </a>
    <a href="https://www.instagram.com/power_house.fitness" style="margin-bottom: 10px;" target="_blank">
        <img src="~/images/social/instagram_glyph_gradient.png" alt="Instagram" class="s-logo" />
        @*<div> @@power_house.fitness</div>*@
    </a>
